@using EntityLayer.Entity;
@using EntityLayer.Enum
@model QuizUser

@{
    ViewData["Title"] = "Quiz";
    Layout = "~/Views/Shared/_StudentShared.cshtml";
}

<div id="timer"></div>

<form method="post" action="/Student/QuizFinished" onsubmit="countTrueAnswers()" class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                @foreach (var item in Model.Quiz.Question)
                {
                    <tr>
                        <td>
                            @item.QuestionName
                        </td>
                        <td>
                            @if (item.AnswerTypeId == (int)AnswerTypeEnum.Text)
                            {
                                <input type="text" name="textAnswers[@item.Id]" class="form-control" />
                            }
                            else if (item.AnswerTypeId == (int)AnswerTypeEnum.Multiple)
                            {
                                @foreach (var answer in item.AnswerValue)
                                {
                                    <div class="form-check">
                                        <input type="checkbox" name="selectedAnswers[@item.Id]" value="@answer.Id" data-is-true="@answer.IsTrue" class="form-check-input" id="checkbox_@answer.Id">
                                        <label class="form-check-label" for="checkbox_@answer.Id">@answer.ValueName</label>
                                    </div>
                                }
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <input type="hidden" id="trueAnswerCount" name="trueAnswerCount" value="0" />
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="QuizId" value="@Model.QuizId" />
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>

<script>
    function countTrueAnswers() {
        var trueAnswerCount = 0;
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');

        checkboxes.forEach(function (checkbox) {
            if (checkbox.checked && checkbox.getAttribute('data-is-true') === "True") {
                trueAnswerCount++;
            }
        });

        var textAnswerInputs = document.querySelectorAll('input[type="text"]');
        textAnswerInputs.forEach(function (input) {
            var userAnswer = input.value.trim();
            var questionId = input.getAttribute('name');
            var questionIdNumber = parseInt(questionId.match(/\d+/)[0]);

            var correctAnswer = "answer.ValueName";

            if (userAnswer === correctAnswer) {
                trueAnswerCount++;
            }
        });

        document.getElementById('trueAnswerCount').value = trueAnswerCount;
    }
</script>

<script>
    var quizDuration = @Model.Quiz.QuizDuration;
    var minutes = Math.floor(quizDuration);
    var seconds = 0;

    function countdown() {
        var timerDisplay = document.getElementById("timer");

        if (minutes >= 0 && seconds >= 0) {
            timerDisplay.innerHTML = (minutes < 10 ? "0" : "") + minutes + ":" + (seconds < 10 ? "0" : "") + seconds;
            if (minutes === 0 && seconds === 0) {
                clearInterval(interval);
                window.location.replace("/Student");
            } else {
                if (seconds === 0) {
                    seconds = 59;
                    minutes--;
                } else {
                    seconds--;
                }
            }
        }
    }

    var interval = setInterval(countdown, 1000);
</script>